/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
masterブランチです
2コメのコミットです
3コメのコミットです
trainig1です

rebase-squashです
コミットをまとめたい
タイピング練習中
